body {
    background-color: #04AA6D;
}

/*style the form*/
form {
    background-color: lightblue;
    margin: auto;
    padding: 40px;
    max-height: fit-content;
    width: 70%;
    min-width: 300px;
}


/*style the input fields*/
input {
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/*mark input box that gets an error on validation*/
input.invalid {
    background-color: #ffdddd;   
}





/*hide all steps by default*/
.tab {
    display: block;
}

/*make circles that indicate the steps of the form*/
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px 40px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    text-align:center;
}

/*mark the active step*/
.step.active {
    opacity: 1;
}

/*mark the steps that are finished and valid*/
.step.finish {
    background-color: #04AA6D;
}

#prevBtn {
    overflow: auto;
    float: right;
}

#nextBtn {
    overflow: auto;
    float: right;
}