
h1 {
    font-size: 60px;
    text-align: center;
} 

h2 {
    text-align: center;
}

h3 { 
    font-size: 40px;
    text-align: center;

}




h1, h2, h3, p {
    color: yellow;
    box-shadow: 4px 4px 6px #000000;;
    background-color: darkred;
    font-weight: bold;
    border: 2px solid yellow;
    border-radius: 8px;
    width: 700px;
    margin-left: 27%;
    margin-bottom: 40px;
    margin-top: 180px;
    padding: 10px;   
}

p {
    margin-top: 20px;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkred;
    height: auto;
    border: 2px solid yellow;
    border-radius: 8px;
    margin-bottom: 50px;
}

.flex-container > div {
    width: auto;
    margin: 10px;
}

.flex-container img {
    width: 250px;
    border: 2px solid yellow;
    border-radius: 8px;
    margin: 10px;
    display: flexbox;
}

#Party_Video {
    position: fixed;/*This fixes our video to the page*/
    right: 0;/*This ensures no space between the edge of the video and the edge of the page*/
    bottom: 0;/*This ensures no space between the edge of the video and the edge of the page*/
    min-height: 100%;/*This ensures the video is played across the full height of the page*/
    top: 0;
    left: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

.Navbar {
    overflow: hidden; /*This ensures that any content that overflows beyond the boundary of our nav bar is not displayed*/
    background-color: darkred;
    border: 2px solid yellow;
    position: fixed;/*This keeps the nav bar at the top of the screen as we scroll*/
    top: 0;/*This ensures that no space is displayed above the navbar*/
    width: 100%;/*This makes the nav bar span the entire width of the page*/
    z-index: 1;/*This ensures other elements don't display over the navbar*/
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
    margin-bottom: 20px;
}

.Navbar a {
    float: left;/*This specifies that the text floats on the left side of the navbar*/
    display: block;/*This ensures that other text will be displayed on the same line or row
    instead of a new line*/
    color: yellow;
    padding: .75vw 1vw;/*This adds padding around our text*/
    text-decoration: none;/*This gets rid of the underlines under the text on our navbar*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 5.75s;
    animation: movenavText 5.75s;
    letter-spacing: .2vw;
    
}

.Navbar a:hover {
    background-color: yellow;
    color: darkred;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

form {
    width: 25%;
    background-color: darkred;
    border: 2px solid yellow;
    border-radius: 8px;
    margin-left: 40%;
    font-size: 20px;
    color: yellow;
    padding: 10px;
    
}

form input {
    width: 300px;
    border-radius: 8px;
}

#btn {
    width: 100px;
    background-color: yellow;
    color: darkred;
    font-weight: bold;
    border: 2px solid darkred;
}

#btn:hover {
    width: 120px;
    background-color:darkred;
    color: yellow;
    border: 2px solid yellow;
    
}