body {
	background-color: darkslategray;
	color: red;
}

h1, h3 {
	font-family: Arial, Helvetica, sans-serif;
	color:red;
	
}

div {
    font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	

}

.title {
	padding-left: 90px;
}

#menuBG {
	width: 600px;
	height: 700px;
	margin: 10 auto;
	padding-left: 50px; 
}

#frmMenu {
	width: 600px;
	height: 200px;
}

#totalPrice {
	width: 200px;
	height: 190px;
	margin: 0 auto;
	float: right;
	
}

.left {
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
}

.middle {
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
}

.right {
	width: 200px;
	height: 200px;
	position: relative;
	float: left;

}

#showText {
	width: 200px;
	height: 190px;
	margin: 0 auto;
	float: left;
}

#cart {
	top: 0;margin: 0px auto;
	width: 400px;
	height: 200px;
}

#btnOrder {
	margin: 30px 0px 70px 200px;
	width: 100px;
	height: 40px;
	background-color: darkslategray;
	color: black;
}