/*Affects entire document*/
html {
    scroll-behavior: smooth;/*This ensures that the page scrolling is smooth when the nav bar is clicked*/   
}

body { 
    margin: 0%;/*This ensures that our site displays all the way to the edge of the browser screen*/
    opacity: 1;/*This and transition affect the page loading fade in effect*/
    transition: 3s opacity;/*This causes a 3 second fade in. You can change this if you wish.*/
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
}